# Android Studio configuration.
*.iml
.idea/
.gradle/

build/

# User configuration.
local.properties

# OS configurations.
.DS_Store

exported*/
analysis/
demos/
to_be_deleted/

# Python cache
__pycache__/
*.py[cod]

# OpenCV
opencv/

/MiDaS/

MiDaS_weights/
velocity_app/src/main/assets/*.tflite
*.pt
*.tflite
*.tflite
/velocity_app/src/main/assets/*.tflite
/MiDaS_weights/
*.tflite
/velocity_app/src/main/assets/*.tflite
/MiDaS_weights/

tore*
