# Android Studio configuration.
*.iml
.idea/

# Gradle configuration.
.gradle/
build/

# User configuration.
local.properties

# OS configurations.
.DS_Store

exported*/
analysis/
demos/
# Python cache
__pycache__/
*.py[cod]
